<div class="banner">
    <div class="container">
        <div class="header_top">
           
      <div class="header_top_right">		  	 
        <ul class="header_user_info">
         <a class="login" href="login.html">            
           <li class="user_desc">Login</li>           
         </a>
         <a class="login" href="/register">
            <i class="user"> </i> 
            <li class="user_desc">Register</li>
        </a>
         <div class="clearfix"> </div>
        </ul>
       <!-- start search-->
           <div class="search-box">
              <div id="sb-search" class="sb-search">
                 <form>
                    <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
                    <input class="sb-search-submit" type="submit" value="">
                    <span class="sb-icon-search"> </span>
                 </form>
               </div>
            </div>
            <!----search-scripts---->
            <script src="js/classie1.js"></script>
            <script src="js/uisearch.js"></script>
              <script>
                new UISearch( document.getElementById( 'sb-search' ) );
              </script>
               <!----//search-scripts---->
               <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
 </div>
 <div class="header_bottom">
  <div class="logo">
     <h1><a href="/"><span class="m_1">G</span>Times</a></h1>
  </div>
     <div class="menu">
    <ul class="megamenu skyblue">
       <li><a class="color2" href="#">PC</a>
           <div class="megapanel">
               <div class="row">
                   <div class="col1">
                       <div class="h_nav">
                           <h4>PC</h4>
                           <ul>
                               <li><a href="/tag/1/">Adventure</a></li>
                               <li><a href="/tag/2/">RPG</a></li>
                               <li><a href="/tag/3/">RTS</a></li>
                               <li><a href="/tag/4/">Action</a></li>
                               <li><a href="/tag/5/">Fighting</a></li>
                               <li><a href="/tag/6/">MMORPG</a></li>									
                           </ul>	
                       </div>							
                   </div>
                   <div class="col1">
                       <div class="h_nav">
                           <h4>PS4</h4>
                           <ul>
                               <li><a href="/tag/1/">Adventure</a></li>
                               <li><a href="/tag/2/">RPG</a></li>
                               <li><a href="/tag/3/">RTS</a></li>
                               <li><a href="/tag/4/">Action</a></li>
                               <li><a href="/tag/5/">Fighting</a></li>
                               <li><a href="/tag/6/">MMORPG</a></li>
                           </ul>	
                       </div>							
                   </div>
                   <div class="col2">
                       <div class="h_nav">
                           <h4>Top 3 User</h4>
                           <ul>
                               <li class>
                                   <div class="p_left">
                                     <img src="images/p1.jpg" class="img-responsive" alt=""/>
                                   </div>
                                   <div class="p_right">
                                       <h4><a href="#">User 1</a></h4>
                                       <span class="item-cat"><small><a href="#">user 1</a></small></span>
                                       <span class="price">rating : 9.5</span>
                                   </div>
                                   <div class="clearfix"> </div>
                               </li>
                               <li>
                                   <div class="p_left">
                                     <img src="images/p2.jpg" class="img-responsive" alt=""/>
                                   </div>
                                   <div class="p_right">
                                       <h4><a href="#">user 2</a></h4>
                                       <span class="item-cat"><small><a href="#">user 2</a></small></span>
                                       <span class="price">rating: 9.25</span>
                                   </div>
                                   <div class="clearfix"> </div>
                               </li>
                               <li>
                                   <div class="p_left">
                                     <img src="images/p3.jpg" class="img-responsive" alt=""/>
                                   </div>
                                   <div class="p_right">
                                       <h4><a href="#">User 3</a></h4>
                                       <span class="item-cat"><small><a href="#">User 3</a></small></span>
                                       <span class="price">rating : 9.0</span>
                                   </div>
                                   <div class="clearfix"> </div>
                               </li>
                           </ul>	
                       </div>												
                   </div>
                 </div>
               </div>
       </li>
       <li><a class="color4" href="#">PS4</a>
           <div class="megapanel">
               <div class="row">
                   <div class="col1">
                       <div class="h_nav">
                           <h4>PC</h4>
                           <ul>
                               <li><a href="/tag/1/">Adventure</a></li>
                               <li><a href="/tag/2/">RPG</a></li>
                               <li><a href="/tag/3/">RTS</a></li>
                               <li><a href="/tag/4/">Action</a></li>
                               <li><a href="/tag/5/">Fighting</a></li>
                               <li><a href="/tag/6/">MMORPG</a></li>
                           </ul>	
                       </div>							
                   </div>
                   <div class="col1">
                       <div class="h_nav">
                           <h4>PS4</h4>
                           <ul>
                               <li><a href="/tag/1/">Adventure</a></li>
                               <li><a href="/tag/2/">RPG</a></li>
                               <li><a href="/tag/3/">RTS</a></li>
                               <li><a href="/tag/4/">Action</a></li>
                               <li><a href="/tag/5/">Fighting</a></li>
                               <li><a href="/tag/6/">MMORPG</a></li>
                           </ul>	
                       </div>							
                   </div>
                   <div class="col2">
                       <div class="h_nav">
                           <h4>Top 3 User</h4>
                           <ul>
                               <li class>
                                   <div class="p_left">
                                     <img src="images/p1.jpg" class="img-responsive" alt=""/>
                                   </div>
                                   <div class="p_right">
                                       <h4><a href="#">User 1</a></h4>
                                       <span class="item-cat"><small><a href="#">user 1</a></small></span>
                                       <span class="price">rating : 9.5</span>
                                   </div>
                                   <div class="clearfix"> </div>
                               </li>
                               <li>
                                   <div class="p_left">
                                     <img src="images/p2.jpg" class="img-responsive" alt=""/>
                                   </div>
                                   <div class="p_right">
                                       <h4><a href="#">user 2</a></h4>
                                       <span class="item-cat"><small><a href="#">user 2</a></small></span>
                                       <span class="price">rating: 9.25</span>
                                   </div>
                                   <div class="clearfix"> </div>
                               </li>
                               <li>
                                   <div class="p_left">
                                     <img src="images/p3.jpg" class="img-responsive" alt=""/>
                                   </div>
                                   <div class="p_right">
                                       <h4><a href="#">User 3</a></h4>
                                       <span class="item-cat"><small><a href="#">User 3</a></small></span>
                                       <span class="price">rating : 9.0</span>
                                   </div>
                                   <div class="clearfix"> </div>
                               </li>
                           </ul>	
                       </div>													
                   </div>
                 </div>
               </div>
           </li>				
           <li><a class="color10" href="/post/top">Top Post</a></li>				
           <li><a class="color7" href="/rules">Rules</a></li>
           <div class="clearfix"> </div>
       </ul>
       </div>
       <div class="clearfix"> </div>
       </div>
   </div>
</div>