<div class="banner">
    <div class="container">
        <div class="header_top">
           
      <div class="header_top_right">		  	 
        <ul class="header_user_info">
         <a class="login" href="login.html">            
           <li class="user_desc">Login</li>           
         </a>
         <a class="login" href="/user/register">
            <i class="user"> </i> 
            <li class="user_desc">Register</li>
        </a>
         <div class="clearfix"> </div>
        </ul>
       <!-- start search-->
           <div class="search-box">
              <div id="sb-search" class="sb-search">
                 <form>
                    <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
                    <input class="sb-search-submit" type="submit" value="">
                    <span class="sb-icon-search"> </span>
                 </form>
               </div>
            </div>
            <!----search-scripts---->
            <script src="js/classie1.js"></script>
            <script src="js/uisearch.js"></script>
              <script>
                new UISearch( document.getElementById( 'sb-search' ) );
              </script>
               <!----//search-scripts---->
               <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
 </div>
 <div class="header_bottom">
  <div class="logo">
     <h1><a href="/"><span class="m_1">G</span>Times</a></h1>
  </div>
     <div class="menu">
    <ul class="megamenu skyblue">
       <li><a class="color2" href="#">PC</a>
           <div class="megapanel">
               <div class="row">
                   <div class="col1">
                       <div class="h_nav">
                           <h4>PC</h4>
                           <ul>
                               <li><a href="/tag/1/">Adventure</a></li>
                               <li><a href="/tag/2/">RPG</a></li>
                               <li><a href="/tag/3/">RTS</a></li>
                               <li><a href="/tag/4/">Action</a></li>
                               <li><a href="/tag/5/">Fighting</a></li>
                               <li><a href="/tag/6/">MMORPG</a></li>									
                           </ul>	
                       </div>							
                   </div>
                   <div class="col1">
                       <div class="h_nav">
                           <h4>PS4</h4>
                           <ul>
                               <li><a href="/tag/1/">Adventure</a></li>
                               <li><a href="/tag/2/">RPG</a></li>
                               <li><a href="/tag/3/">RTS</a></li>
                               <li><a href="/tag/4/">Action</a></li>
                               <li><a href="/tag/5/">Fighting</a></li>
                               <li><a href="/tag/6/">MMORPG</a></li>
                           </ul>	
                       </div>							
                   </div>
                   
                 </div>
               </div>
       </li>
       <li><a class="color4" href="#">PS4</a>
           <div class="megapanel">
               <div class="row">
                   <div class="col1">
                       <div class="h_nav">
                           <h4>PC</h4>
                           <ul>
                               <li><a href="/tag/1/">Adventure</a></li>
                               <li><a href="/tag/2/">RPG</a></li>
                               <li><a href="/tag/3/">RTS</a></li>
                               <li><a href="/tag/4/">Action</a></li>
                               <li><a href="/tag/5/">Fighting</a></li>
                               <li><a href="/tag/6/">MMORPG</a></li>
                           </ul>	
                       </div>							
                   </div>
                   <div class="col1">
                       <div class="h_nav">
                           <h4>PS4</h4>
                           <ul>
                               <li><a href="/tag/1/">Adventure</a></li>
                               <li><a href="/tag/2/">RPG</a></li>
                               <li><a href="/tag/3/">RTS</a></li>
                               <li><a href="/tag/4/">Action</a></li>
                               <li><a href="/tag/5/">Fighting</a></li>
                               <li><a href="/tag/6/">MMORPG</a></li>
                           </ul>	
                       </div>							
                   </div>
                   
                 </div>
               </div>
           </li>				
           <li><a class="color10" href="/post/top">Top Post</a></li>				
           <li><a class="color7" href="/rules">Rules</a></li>
           <li><a class="color7" href="/top10">Top 10 User</a></li>
           <div class="clearfix"> </div>
       </ul>
       </div>
       <div class="clearfix"> </div>
       </div>
   </div>
</div>