<!DOCTYPE HTML>
<html>

<head>
    <%- include ./partials/head.ejs %>
</head>

<body>
    <%- include ./partials/banner.ejs %>
    <div class="main">
        <div class="middle_content">
            <h3>The rules are as follows:</h3>
            <ul>
                <li>All information and instructions given within these forums is to be used at your own risk. By
                    following or using any of this information you give up the right to hold us liable for any damages.</li>
                <li>The posting of any copyrighted material on our web site is strictly prohibited.</li>
                <li>There will be no use of profanity on our message boards. This will not be tolerated and can lead to
                    immediate suspension. </li>
            </ul>
        </div>

    </div>
    <%- include ./partials/footer.ejs %>
</body>

</html>